.btn-gmail{
    height: 36px;
    min-width: 54px;
    padding: 0 16px;
    color: #757575;
    font-weight: 700;
    background-color: #f2f2f2!important;
    border: 1px solid #f2f2f2!important;
}
.btn-gmail:hover{
    height: 36px;
    min-width: 54px;
    padding: 0 16px;
    color: black;
    background-color: #f2f2f2!important;
    border: 1px solid black!important;
}

.container {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 8px;
}

.button {
  display: flex;
  margin-right: 8px;
  border-width: 0px;
  font-size: 14px;
  font-family: arial,sans-serif;
  color: black;
  text-decoration-line: none;
}

.button:hover {
  text-decoration-line: underline;
}

.button-container {
  display: flex;
  margin-right: 16px;
  border-width: 0px;
}

.button-icon {
  width: 32px;
  height: 32px;
}